@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
    --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }

  * {
    box-sizing: border-box;
    
  }

  body {
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
  }
  
  .container {
      width: 600px;
      margin: 0 auto;
  }

  h1 {
      font-family: 'Lato';
      font-size: 25px;
      text-transform: uppercase;
    width: 400px;
  }

  h5 {
      font-family: 'Lato';
      font-size: 12px;
    width: 400px;
  }

  .dly-fluid {
      padding: 10px;
      margin-left: 0px;
      display: flex;
      justify-content: space-between;
      box-shadow: var(--box-shadow);
      background-color: #fff;
      width: 70%;
      border-radius: 10px;
      
  }

  .dly-fluid > div {
    flex: 1;
    text-align: center;
  }


  .dly-fluid > div:first-of-type {
border-right: 1px solid black;
  }

 .dly-fluid .twentyfour-hrly h2 {
    font-size: 20px;
  }

.dly-fluid .eight-hrly h2 {
    font-size: 20px;
  }

  .dly {
    color: #2ecc71;
  }
  
  .hrly {
    color: #2ecc71;
  }
  
  label {
    display: inline-block;
    margin: 10px 0;
  }
  select {
      width: 50%;
      padding: 25px;
      margin-left: 0px;
  }

  input {
      display: block;
      
      padding: 20px;
      width: 50%; 
      margin-left: 0px;
  }

  .submit-btn {
        
    padding: 7px;
    width: 50%; 
    margin-left: 0px;
    border-radius: 10px;
    background-color: #9c88ff ;

  }

  .twentyfour-hrly h2 {
      font-family: monospace;
      font-size: 23px;

  }
  .eight-hrly h2 {
      font-family: monospace;
      font-size: 23px;

  }

  .past-inputs {
    list-style-type: none;
    padding: 0;
    margin-bottom: 40px;
    

  }

  .past-inputs .list {
    position: relative;
  }

  .past-inputs .list .delete-btn {
      position: absolute;
      right: 250px;
      color: white;
      background-color: brown;
      border-radius: 7px;
  }

footer p {
  color:#9c88ff;
    text-align: center;
    font-weight: 700;
}

@media screen and (max-width: 768px) {
    .body {
      width: 400px;
      
  }

  .container {
    margin-top: 30px;
    margin-left: 40px;
    font-size: 12px;
    
  }
  
   h1 {
      font-family: 'Lato';
      font-size: 12px;
      text-transform: uppercase;
     
  }
  h2 {
    font-size: 15px;
  }

  h5 {
      font-family: 'Lato';
      font-size: 8px;
    
    
  }
  
  
  #total-fluid {
    width: 250px
    
  }
  .dly-fluid {
    width: 65%;
  }
  
  
   .dly-fluid .twentyfour-hrly h2 {
    font-size: 20px;
  }

.dly-fluid .eight-hrly h2 {
    font-size: 20px;
  }
  
  
  }